*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex; /*Activa FlexBox dentro del header*/
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
}

/*Esto es el div del logo y el menu, con esto hago que el menu y el logo esten alineados*/
.header_left{
    display: flex;
    align-items: center;
}

.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.black_logo{
    height: 90px;
    width: auto;
}

a{
    text-decoration: none;
}